<% provide(:title,'Home title')%>
<h1>Training App US for help page</h1>
<p>
  This is the home page for the
  <a href="http://github.com/ezzie">Ruby on Rails Training</a>
  by Ezzie Infosystems.
</p>
