<footer class="footer">
  <small>
    <a href="http://github.com/ezzie">Ruby on Rails Tutorial</a>
    by Ezzie Infosystems
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://guides.rubyonrails.org/">Guides</a></li>
    </ul>
  </nav>
</footer>